In [5]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbour in neighbours:
                queue.append(neighbour)
    return visited

In [6]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike'  : {'Amin'},
         'Nick'  : {'Amin'}}

In [7]:
bfs(graph,'Amin')

['Amin', 'Wasim', 'Mike', 'Nick', 'Imran', 'Faras']

In [8]:
# O amin_ _ _ _ _ _ _ _ _ _ _
# |           |             |
# O wasim     O nick        O mike
# | 
# O imran
# |
# O faras

bfs(graph, 'Amin')

['Amin', 'Wasim', 'Mike', 'Nick', 'Imran', 'Faras']

In [9]:
# O wasim _ _ _ _
# |            |
# O imran      O  amin_ _ _ _ 
# |            |            |
# O faras      O nick       O mike

bfs(graph, 'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Mike', 'Nick']

In [11]:
# O faras
# | 
# O imran
# |
# O wasim       O nick      O mike
# |             |           |
# O amin _ _ _ _ _ _ _ _ _ _ 

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

In [20]:
graph={ 'Rektor' : {'Warek 1', 'Warek 2'},
        'Warek 1' : {'Rektor'},
        'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
        'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
        'Kaprodi 2' : {'Dosen D', 'Dosen E'},
        'Kaprodi 3' : {'Dosen F', 'Dosen G'},
        'Dosen A' : {'Kaprodi 1', 'Dosen B'},
        'Dosen B' : {'Dosen A', 'Dosen C'},
        'Dosen C' : {'Dosen B'},
        'Dosen D' : {'Kaprodi 2', 'Dosen E'},
        'Dosen E' : {'Dosen D'},
        'Dosen F' : {'Kaprodi 3', 'Dosen F'},
        'Dosen G' : {'Dosen F'}}

In [21]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek 1',
 'Warek 2',
 'Kaprodi 2',
 'Kaprodi 3',
 'Kaprodi 1',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G',
 'Dosen C',
 'Dosen B',
 'Dosen A']

In [22]:
bfs(graph, 'Warek 1')

['Warek 1',
 'Rektor',
 'Warek 2',
 'Kaprodi 2',
 'Kaprodi 3',
 'Kaprodi 1',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G',
 'Dosen C',
 'Dosen B',
 'Dosen A']

In [23]:
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
         dfs(graph, next, visited)
    return visited

In [26]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' :{'Amin'},
         'Nick' :{'Amin'}}

In [28]:
dfs(graph, 'Amin')

Amin
Wasim
Imran
Faras
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [29]:
dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [30]:
dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [31]:
dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [33]:
graph={ 'Rektor' : {'Warek 1', 'Warek 2'},
        'Warek 1' : {'Rektor'},
        'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
        'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
        'Kaprodi 2' : {'Dosen D', 'Dosen E'},
        'Kaprodi 3' : {'Dosen F', 'Dosen G'},
        'Dosen A' : {'Kaprodi 1', 'Dosen B'},
        'Dosen B' : {'Dosen A', 'Dosen C'},
        'Dosen C' : {'Dosen B'},
        'Dosen D' : {'Kaprodi 2', 'Dosen E'},
        'Dosen E' : {'Dosen D'},
        'Dosen F' : {'Kaprodi 3', 'Dosen F'},
        'Dosen G' : {'Dosen F'}}

In [34]:
dfs(graph, 'Rektor')

Rektor
Warek 1
Warek 2
Kaprodi 2
Dosen E
Dosen D
Dosen D
Kaprodi 3
Dosen F
Dosen G
Kaprodi 1
Dosen C
Dosen B
Dosen A
Dosen B
Dosen A

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}

In [35]:
dfs(graph, 'Warek 1')

Warek 1
Rektor
Warek 2
Kaprodi 2
Dosen E
Dosen D
Dosen D
Kaprodi 3
Dosen F
Dosen G
Kaprodi 1
Dosen C
Dosen B
Dosen A
Dosen B
Dosen A

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}

In [36]:
dfs(graph, 'Warek 2')

Warek 2
Kaprodi 2
Dosen E
Dosen D
Dosen D
Kaprodi 3
Dosen F
Dosen G
Kaprodi 1
Dosen C
Dosen B
Dosen A
Dosen B
Dosen A

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Warek 2'}